html, body{
  height: 100%;

}

.full-height {

height: 100%;
  width: 100%;
}

textarea.form-control.big {

  height: 500px;
}

.wrapped{

  white-space: pre-wrap;
  word-wrap: normal;
  word-break: normal;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}

footer.navbar{
  margin-bottom: 0;
}

.no-margin{
  margin: 0;
}

.margin-top{
  margin-top: 10px;
}
.margin-bottom{
  margin-bottom: 10px;
}

.no-padding{
  padding: 0;
}

.text-danger {
  color: #ff0000;
}

.transparent {
  opacity: 0;
}

.sidebar.margin-top{

  margin-top: 37rem;
}

.top-image{
  width: 750px;
  height: 421px;
}
